.image .img{
    width: 200px;
    height: 100%;
    border-radius: 1px;
    object-fit: cover;
    width: 100%;
}
.blogs .box_container{
display: grid;
grid-template-columns: repeat(auto-fit,minmax(30rem,1fr));
gap: 1.5rem;
}
.blogs .box_container .box{
    border: 2px solid bisque;
    
}
.blogs .box_container .box .image{
    border: 2px solid bisque;
    height: 25rem;
    overflow: hidden;
    width: 100%;

}
.blogs .box_container .box:hover .image img{
 transform: scale(1.2);

}
.blogs .box_container .box .content{
    padding: 2rem;
}
.blogs .box_container .box .content .title{
    font-size: 2.5rem;
    line-height: 1.5;
    color: aliceblue;
}
.blogs .box_container .box .content .title :hover{
    /* font-size: 2.5rem;
    line-height: 1.5;
    color: aliceblue; */
    color: rgb(85, 75, 63);
}
.blogs .box_container .box .content span{
    color: bisque;
    display: block;
    padding-top: 1rem;
    font-size: 2rem;
}
.blogs .box_container .box .content p{
    color: rgb(236, 230, 222);
    display: block;
    padding-top: 1rem;
    font-size: 1.4rem;
    padding: 1rem 0;
}
.blogs .box_container .box .content .btn{
    /* color: rgb(236, 230, 222);
    display: block;
    padding-top: 1rem;
    font-size: 1.4rem;
    padding: 1rem 0; */
    width: 20rem;
}